@charset "utf-8";
/* CSS Document */


body {
background:url(background.png) no-repeat;
background-size: 100%;
}
.mylineheight{height:40px}
.mylineheight2{height:20px}
#subheading{color:#FFF;}
th,td{padding:5px;}
tbody:hover{
	background-color:#002D59;
	}
	tfoot{
		border-top:#333 1px solid;
	}
	thead{
		border-bottom:#333 1px solid;
		font: bold italic small-caps 16px verdana,sans-serif;
	}
	
#dialog-link {
		width:100px;
		height:20px;
		padding: .4em 1em .4em 20px;
		text-decoration: none;
		position: relative;
		display:none;
		font:14px Arial, Helvetica, sans-serif;
	}
	#dialog-link span.ui-icon {
		margin: 0 5px 0 0;
		position: absolute;
		left: .2em;
		top: 50%;
		margin-top: -8px;
	}
	#iframe_url{
		display:none;
		width:100%;
		height:600px;
	}
	#frame_close,#history_close{
		display:none;
		width:50px;
		float:left;
	}
	#frame_close:hover,#history_close:hover{
		background-color:#DD006F;
		border-color:#DD006F;
		color:white;
	}
	table a{
		color:#FF0;
		font-family:Tahoma, Geneva, sans-serif;
		font-size:18px;
		text-decoration:none;
		opacity:.9;
	}
	table a:hover{
		opacity:1;
	}
	ul{
	list-style-image:url(retro_tv_icon_sml.png);
	
	}
	
label, input { display:block; }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }

button{
	font:10px Arial, Gadget, sans-serif;
	background-color:#666;
	color:white;
	border:none;
}
button:hover:enabled{
	background-color:#333;
}
button:focus{
	-webkit-box-shadow: 0px 0px 2px 2px #FF0;
  box-shadow:  0px 0px 2px 2px #FF0;
}
#daypick{
	float:left;
	width:100%;
	margin-bottom:5px;

}
.daybox{
	position:relative;
	top:0px;
	left:0px;
	float:left;
	width:0px;
	height:20px;
	color:white;

	font-size:14px;

	
}
.dark{
	opacity:1;
}

#arrows{
	padding-left:315px;
	
}

#resultstv{
	display:none;
	width:85%;
	margin-left:10px;
	padding:5px;
	height:80px;
	border:#333 1px solid;
	overflow-y:scroll;
}

#season_tab{
	height:40px;
	-webkit-user-select: none; 
}
#seasonhold::-webkit-scrollbar {
    display: none;
}
#tvrage{
	height:200px;
	-webkit-user-select: none; 
}

#seasonhold, #tvrage{
	overflow-x:scroll;
	width:100%;
	overflow:auto;
	overflow-y:hidden;
}
.season_tab_cell{
	padding:10px;
	border:thin solid black;
	color:white;
	width:80px;
	float:left;
	background:#002D59;
}
.season_tab_cell:hover{
	background:#004080;
	border:thin white solid;
	cursor:pointer;
}

.tvs{
	float:left;
	height:100%;
	display:none;
}
.tvep{
	background:#004080;
	padding:10px;
	float:left;
	width:150px;
	height:100%;
	border:solid 1px black;
	color:white;
}
.titlehold{
	width:100%;
	height:40px;
	color:white;
	font:13px/150% Verdana, Geneva, sans-serif;
}
.titlehold a{
	color:white;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:13px;
	text-decoration:none;
}
.titlehold a:hover{
	opacity:.7;
}


@media screen and (max-width:1150px){
	
body{
	background:url(background/skulls/skulls.png);
}
#subheading{color:#000;}
table a{color:#36C;}

.daybox{
	color:blue;
}
tbody:hover{
	background:FF8040;
}

}

	