@charset "utf-8";
/* CSS Document */


body {
background:url(background/carbon_fibre_big/carbon_fibre_big.png) repeat;
color:#0CF;
}
#topbar{
	position:absolute;
	top:0;
	left:0;
	height:100px;
	/* to make background transparent - 4th num is opacity, this lets child of div have diff opacity*/
	background: linear-gradient( rgba(204,204,204,0.5),rgba(204,204,204,0.5));
	width:100%;
	
}
#topbar img{
	float:right;
	margin-right:20px;
	}


.mylineheight{height:40px;}
.mylineheight2{height:20px;}
#subheading{color:#FFF;}
th,td{padding:5px;}
tbody{
	opacity:0.9;
}
tbody:hover{
	opacity:1;
	/*border:1px black solid;
	background-color:#002D59;*/
	}
	tfoot{
		border-top:#333 1px solid;
	}
	thead{
		border-bottom:#333 1px solid;
		font: bold italic small-caps 16px verdana,sans-serif;
		color:white;
	}
	
#dialog-link {
		width:100px;
		height:20px;
		padding: .4em 1em .4em 20px;
		text-decoration: none;
		position: relative;
		display:none;
		font:14px Arial, Helvetica, sans-serif;
	}
	#dialog-link span.ui-icon {
		margin: 0 5px 0 0;
		position: absolute;
		left: .2em;
		top: 50%;
		margin-top: -8px;
	}
	
	#iframe_holder{
		position:relative;
		border:dashed 5px #1BA1E2;
		width:100%;
		height:600px;
		margin-bottom:200px;
		
	}
	#iframe_holder p{
		padding-top:150px;
		text-align:center;
		font:30px Arial, Helvetica, sans-serif;
	}
	#iframe_url{
		/*display:none;*/
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
		height:600px;
		
		z-index:-1;
	}
	#frame_close,#history_close{
		display:none;
		width:50px;
		float:left;
	}
	#frame_close{
		position:absolute;
		top:0px;
		left:0px;
		z-index:99;
	}
	#frame_close:hover,#history_close:hover{
		background-color:#DD006F;
		border-color:#DD006F;
		color:white;
	}
	table a{
		color:#0CF;
		font-family:Tahoma, Geneva, sans-serif;
		font-size:15px;
		text-decoration:none;
		opacity:.9;
	}
	table a:hover{
		opacity:1;
	}
	ul{
	list-style-image:url(retro_tv_icon_sml.png);
	}
	#txthint a{
		opacity:.8;
		color:#0CF;
	}
	#txthint a:hover{
		opacity:1;
	}
	
label, input { display:block; }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }

button{
	font:10px Arial, Gadget, sans-serif;
	background-color:#666;
	color:white;
	border:none;
}
button:hover:enabled{
	background-color:#333;
}
button:focus{
	-webkit-box-shadow: 0px 0px 2px 2px #FF0;
  box-shadow:  0px 0px 2px 2px #FF0;
}
.bigbutton{
	padding:3px !important;
	width:150px !important;
	height:30px !important;
}

.bigbutton img{
	margin-left:-20px;
}
#daypick{
	float:left;
	width:100%;
	margin-bottom:5px;
	

}
.daybox{
	position:relative;
	top:0px;
	left:0px;
	float:left;
	width:0px;
	height:20px;
	color:#0CF;

	font-size:14px;

	
}
.dark{
	opacity:1;
}

#arrows{
	padding-left:315px;
	
}
#resultstv input[type=radio]{
	float:left;
	clear:none;
	margin:5px 10px 0px 5px;
}

#resultstv{
	display:none;
	width:85%;
	margin-left:10px;
	padding:5px;
	height:120px;
	border:#333 1px solid;
	overflow-y:scroll;
}



#history_hold{
		position:relative;
		border:dashed 5px #036DE2;
		width:100%; 
		height:255px;
		margin-bottom:100px;
	}
	#history_hold p{
		padding-top:50px;
		text-align:center;
		font:30px Arial, Helvetica, sans-serif;
		color:#036DE2;
	}
	#history_wrap{
	position:absolute;
	top:0px;
	left:0px;
	width:inherit;
	}



#season_tab{
	height:40px;
	-webkit-user-select: none; 
}
#seasonhold::-webkit-scrollbar {
    display: none;
}
#tvrage::-webkit-scrollbar{
	background:black;
}
#tvrage::-webkit-scrollbar-thumb{
	 border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
}
#tvrage::-webkit-scrollbar-track {
	background:#002D59;
}
#tvrage::-webkit-scrollbar-track-piece {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,220,0.5);
}
#tvrage{
	height:200px;
	-webkit-user-select: none; 
}

#seasonhold, #tvrage{
	overflow-x:scroll;
	width:100%;
	overflow:auto;
	overflow-y:hidden;
}
.season_tab_cell{
	padding:10px;
	border:thin solid black;
	color:white;
	width:80px;
	float:left;
	background:#002D59;
	opacity:.5;
}
.season_tab_cell:hover{
	opacity:1;
	background:#004080;
	border:thin white solid;
	cursor:pointer;
}

.tvs{
	float:left;
	height:100%;
	display:none;
}
.tvep{
	background:#004080;
	padding:10px;
	float:left;
	width:150px;
	height:100%;
	border:solid 1px black;
	color:white;
}
.titlehold{
	width:100%;
	height:40px;
	color:white;
	font:13px/150% Verdana, Geneva, sans-serif;
}
.titlehold a{
	color:white;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:13px;
	text-decoration:none;
}
.titlehold a:hover{
	opacity:.7;
}
#showlist_tvrage li{
	cursor:pointer;
}
#showlist_tvrage li:hover{
	background:#002D59;
}
#showlist_tvrage li:active{
	background:#ccc;
}
#txthint1{
	width:100%;
	position:relative;
}
#txthint2{
	padding:15px;
	display:none;
	position:absolute;
	top:120%;
	width:100%;
	z-index:999;
	background-color:#333;
	border:black solid 2px;
}
.arrow-top {
	display:none;
	position:absolute;
	top:100%;
	left:30%;
	width: 0; 
	height: 0; 
	border-right: 10px solid transparent;
	border-left: 10px solid transparent; 
	border-bottom:10px solid orange; 
}


@media screen and (max-width:1150px){
	/*
body{
	background:url(background/skulls/skulls.png);
}
#subheading{color:#000;}
table a{color:#36C;}

.daybox{
	color:blue;
}
tbody:hover{
	background:FF8040;
}
*/
}

	